html{
	padding: 0;
	margin: 0;
}

body{
	overflow-y: hidden;
	padding: 0;
	margin: 0;
	background: lightgray;
	color: white;
	font-size: 2em;
	text-align: center;
}

#div1 {
	position: relative;
	#width: 300px;
	padding: 0;
	padding-top: 10%;
	padding-bottom: 130%;
	margin: 0 auto;
	color: white;
	background: teal;
	font-size: 1.75rem;
	#border: 3px solid white;
	#border-radius: 10px;
}